:root {
    --main-color: #833471;
    --hover-color: #910570
}
::-webkit-scrollbar {
    width: 8px;
    background-color:var(--main-color);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg ,#eee 20%,var(--main-color) 20%,var(--main-color) 80%,#eee 80%);
  border-radius: 5px;
}
.overlay,
.carousel-inner .item-mian::before {
    background-color:  #83347134
}
.navbar-inverse,
.option-box .color-option {
    box-shadow: 5px 5px 10px #420133,
    -5px -5px 10px #420133
}
.navbar-inverse,
.about ,
.hr ,
.features,
.price,
.price .price-box .btn,
.skills,
.subscribe,
.pro-back,
.contact input,
.contact textarea,
.contact .btn,
.clinets,
footer {
    background-color: var(--main-color)
}
.price .price-box:hover p {
    border: 1px solid var(--main-color)
}
.subscribe .btn,
.skills .skills-info .btn,
.ceo .btn {
    background: #cc3caa
}
.contact input:focus,
.contact textarea:focus {
    box-shadow: 2px 2px 10px var(--hover-color)
}
 
.price .price-box .btn:hover,
.subscribe .btn:hover,
.skills .skills-info .btn:hover,
.contact .btn:hover,
.ceo .btn:hover  {
    background-color: var(--hover-color)
}
.about-us,.about-features,.ceo,.faq ,.tabs,.panel-group .panel-heading,.panel-body,.background {
    background-color: var(--main-color) !important
}
